<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="x5-orientation" content="portrait">
  <title>缴费记录</title>
  <script src="../common/js/rem.js"></script>
  <link rel="stylesheet" href="../common/css/wap-common.css">
  <link rel="stylesheet" href="../common/css/rem.css">
  <link rel="stylesheet" href="./charge.css">
  <style type="text/css">
  </style>
</head>
<body>
  <div class="charge timeline">
     <div class="item">
        <div class="item-l">
          <p>2017-02-24</p>
        </div>
        <div class="item-r">
          <p>10000元</p>
        </div>
     </div>
     <div class="item">
        <div class="item-l">
          <p>2017-02-24</p>
        </div>
        <div class="item-r">
          <p>10000000000000元</p>
          <p>10000000000000元</p>
          <p>10000000000000元</p>
        </div>
     </div>
     <div class="item">
        <div class="item-l">
          <p>2017-02-24</p>
        </div>
        <div class="item-r">
          <p>10000元</p>
        </div>
     </div>
     <div class="item">
        <div class="item-l">
          <p>2017-02-24</p>
        </div>
        <div class="item-r">
          <p>10000元</p>
        </div>
     </div>
     <div class="item">
        <div class="item-l">
          <p>2017-02-24</p>
        </div>
        <div class="item-r">
          <p>10000元</p>
        </div>
     </div>
  </div>
</body>
</html>
